<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
      xmlns:neos="http://typo3.org/ns/Neos/Neos/ViewHelpers">
<f:section name="Main">
    <div class="card-list">
        <div class="container">
            <f:render partial="Titlebar" section="Main" />
            <f:if condition="{neos:rendering.inBackend()} && {neos:rendering.inEditMode()}">
                <div class="filter-config alert alert-info">
                    <h2>Categories (only visible in backend):</h2>
                    <div class="filter-config--list">
                        {categories -> f:format.raw()}
                    </div>
                    <h2>Groups (only visible in backend:</h2>
                    <div class="filter-config--list">
                        {groups -> f:format.raw()}
                    </div>
                </div>
            </f:if>
            <div id="grid-view" class="grid">
                <f:render partial="Listable" section="Main" />
            </div>
            <div id="list-view" class="list d-none">
            </div>
        </div>
        <script type="text/javascript">
            var projectsList = {json -> f:format.raw()};
        </script>
    </div>
</f:section>
</html>
