<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers">
<f:section name="Main">
    <div class="card-list">
        <div class="title-bar">
            <div class="container">
                <div class="title-bar--container">
                    <div class="title-bar--left">
                        <h1>Test</h1>
                    </div>
                </div>
            </div>
        </div>
        <div id="grid-view" class="grid container">
            <f:render partial="Listable" section="Main" />
        </div>
    </div>
</f:section>
</html>
